<main>
	<h2>Welcome to the shoppingcart view</h2>
<h2>Here are your orders</h2>
<a href="/">Home</a>
{{#each boughtItems}}
			<div class="donut-container">

				<img width="100px" height="100px" src={{img}}>

				<a href="{{_id}}"><h3>See more</h3></a>

				<p>$ {{price}} each </p>

			</div>

		{{/each}}
<h2>Pay Here</h2>
</main>
